.ketqua{
    width: 500px;
}
body { 
    font-family: Arial, sans-serif; 
    padding: 20px; 
}
label, select, input { 
    margin-top: 10px; 
    display: block; 
}
.result {
    margin-top: 20px; 
    font-weight: bold; 
}
input[readonly] { 
    background-color: #eee; 
}